  <header class="center-align">
    <div class="vert-align">
      <h1>Alex Ly</h1>
      <p>Web Developer</p>
    </div>
  </header>

  <div class="container">
    <section class="intro-sec">
      <div class="row center-align">
        <div class="col s12 m3">
          <img id="alex" class="intro-pic" src="/static/img/alex.jpg" alt="Photo of Alex Ly">
        </div>
        <div class="col s12 m9">
          <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>

    <section class="skills-sec center-align">
      <div class="row">
        <h2>Skills</h2>
      </div>
      <div class="row">
        <h3>Front End</h3>
        <div class="col s6 m3 skill-col">
          <i class="devicon-html5-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-css3-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-javascript-plain skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
        <i class="devicon-jquery-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-bootstrap-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-sass-original skills"></i>
        </div>
      </div>
      <div class="row">
        <h3>Back End</h3>
        <div class="col s6 m3 skill-col">
          <i class="devicon-nodejs-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-mongodb-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-mysql-plain-wordmark skills"></i>
        </div>
      </div>
      <div class="row">
        <h3>Other Tools</h3>
        <div class="col s6 m3 skill-col">
          <i class="devicon-git-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-github-plain-wordmark skills"></i>
        </div>
        <div class="col s6 m3 skill-col">
          <i class="devicon-heroku-line-wordmark skills"></i>
        </div>
      </div>
    </section>

    <section class="portfolio-sec center-align">
      <div class="row">
        <h2>Portfolio</h2>
      </div>
    </section>
    
    <section class="contact-sec center-align">
      <div class="row">
        <h2>Contact Me</h2>
      </div>
    </section>

  </div>