  <header></header>

  <section class="skills-sec">
    <div class="row center-align">
      <div class="col s6 m3 skill-col">
        <i class="devicon-bootstrap-plain-wordmark skills"></i>
      </div>
      <div class="col s6 m3 skill-col">
        <i class="devicon-css3-plain-wordmark skills"></i>
      </div>
      <div class="col s6 m3 skill-col">
        <i class="devicon-git-plain-wordmark skills"></i>
      </div>
      <div class="col s6 m3 skill-col">
        <i class="devicon-github-plain-wordmark skills"></i>
      </div>
    </div>
  </section>

  <section class="portfolio-sec"></section>
  
  <section class="contact-sec"></section>