// HOME

  // SKILLS
  .skills{
    font-size: 6.25em;
    color: $tertiary-color;
  }

  .skill-col{
    margin-top: 30px;
  }

  .intro-sec,
  .skills-sec,
  .portfolio-sec{
    padding-bottom: 25px;
    @include solid-border('bottom', 2px, $tertiary-color);
  }